html
    head
        title Create Quiz
body
    div#main 
        h1  Creating a question
        p Creator's Name:
        input(type="text", name="name")
        <br>
        p Tags:
        input(type="text", name="tags")
        <br>
    
    div(name="divQuestions")
        
    