html
	head
		title Quiz Tracker
	
	body
		h1 Welcome to the Quiz Tracker
		br
		h2 Login:
		h3 Username
		input(type='text' name='username')
		h4 Password
		input(type='text' name='password')
		br
		a(href="/quiz") Get a quiz
		br
		a(href="/users") Get all users